
<odoo>

 
 <record id="ot_action_pv" model="ir.actions.act_window">
            <field name="name">Orden de Trabajo</field>
            <field name="res_model">taller.ot</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('sucursel','=','3')]</field>
             <field name="context">{'sucursel': '3'} </field>
</record>
<record id="ot_action_nu" model="ir.actions.act_window">
           <field name="name">Orden de Trabajo</field>
           <field name="res_model">taller.ot</field>
           <field name="type">ir.actions.act_window</field>
           <field name="view_mode">tree,form</field>
           <field name="domain">[('sucursel','=','2')]</field>
           <field name="context">{'sucursel': '2'} </field>
</record>

<record id="ot_action_op" model="ir.actions.act_window">
           <field name="name">Orden de Trabajo</field>
           <field name="res_model">taller.ot</field>
           <field name="type">ir.actions.act_window</field>
           <field name="view_mode">tree,form</field>
           <field name="domain">['|', ('sucursel', '=', '2'), ('sucursel', '=', '3')]</field>
</record>



 <act_window
  id="plan_action"
  name="Planificacion"
  res_model="taller.ot.line"
  view_mode="kanban"/>

<act_window
  id="plan_action_pv"
  name="Planificacion Par Vial"
  res_model="taller.ot.line"
  view_mode="kanban"
  domain="[('ot_line_id.sucursel','=','3')]"/>

  <act_window
  id="plan_action_nu"
  name="Planificacion Ñuble"
  res_model="taller.ot.line"
  view_mode="kanban"
  domain="[('ot_line_id.sucursel','=','2')]"/>


<record id="res_action_nu" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">taller.ot.line</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
            <field name="domain">[('ot_line_id.sucursel','=','2')]</field>
            <field name="context">{'ot_line_id.sucursel': '2'} </field>

</record>

<record id="res_action_pv" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">taller.ot.line</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
            <field name="domain">[('ot_line_id.sucursel','=','3')]</field>
            <field name="context">{'ot_line_id.sucursel': '3'} </field>
</record>

<record id="res_action_op" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">taller.ot.line</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
</record>


<record id="action_wizard_maniobras" model="ir.actions.act_window">
    <field name="name">Agendar Maniobra</field>
    <field name="res_model">taller.maniobras.wizard</field>
    <field name="view_mode">form</field>
    <field name="target">new</field>
</record>

<menuitem
  id="taller_menu"
  name="Taller"
  parent=""
  sequence="35" />

<menuitem
  id="ot_menu"
  name="Orden de Trabajo"
  parent="taller_menu"
  sequence="20" />

  <menuitem
  id="plan_menu"
  name="Planificación"
  parent="taller_menu"
  sequence="25"
  groups="taller.group_operaciones" />

  <menuitem
    id="ot_menu_d_parvial"
    name="Crear / Modificar"
    action="ot_action_pv"
    parent="ot_menu"
    sequence="10"
    groups="taller.group_parvial" />

  <menuitem
    id="ot_menu_d_nuble"
    name="Crear / Modificar"
    action="ot_action_nu"
    parent="ot_menu"
    sequence="11"
    groups="taller.group_nuble" />

    <menuitem
      id="ot_menu_d_opera"
      name="Crear / Modificar"
      action="ot_action_op"
      parent="ot_menu"
      sequence="12"
      groups="taller.group_operaciones" />

  <menuitem
    id="ot_menu_r_parvial"
    name="Resumen"
    action="res_action_pv"
    parent="ot_menu"
    sequence="20"
    groups="taller.group_parvial"
     />

  <menuitem
    id="ot_menu_r_nuble"
    name="Resumen"
    action="res_action_nu"
    parent="ot_menu"
    sequence="21"
    groups="taller.group_nuble" />

    <menuitem
      id="ot_menu_r_opera"
      name="Resumen"
      action="res_action_op"
      parent="ot_menu"
      sequence="22"
      groups="taller.group_operaciones" />


  <menuitem
    id="plani_menu"
    name="Planificacion"
    action="plan_action"
    parent="taller_menu"
    sequence="30"
    groups="taller.group_nuble,taller.group_parvial" />

  <menuitem
    id="plani_menu_pv"
    name="Planificacion Parvial"
    action="plan_action_pv"
    parent="plan_menu"
    sequence="32"
    groups="taller.group_operaciones" />

  <menuitem
    id="plani_menu_nu"
    name="Planificacion Ñuble"
    action="plan_action_nu"
    parent="plan_menu"
    sequence="34"
    groups="taller.group_operaciones" />  
  
  <menuitem
    id="taller_mani"
    name="Maniobras"
    parent="taller_menu"
    sequence="42"/>


  <menuitem
    id="mani_menu"
    name="Agendar Maniobra"
    action="action_wizard_maniobras"
    parent="taller_mani"
    sequence="45"
    groups="taller.group_taller"
     />

</odoo>
