
<odoo>

 <record id="ot_action" model="ir.actions.act_window">
            <field name="name">Orden de Trabajo</field>
            <field name="res_model">taller.ot</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('user_branch','=','2')]</field>
</record>


 <act_window
  id="plan_action"
  name="Planificacion"
  res_model="taller.ot.line"
  view_mode="tree,kanban"/>

<act_window
  id="res_action"
  name="Resumen"
  res_model="taller.ot.line"
  view_mode="tree"
  domain="[('branch','=','viewer')]"/>


<menuitem
  id="taller_menu"
  name="Taller"
  parent=""
  sequence="15" />

<menuitem
  id="ot_menu"
  name="Orden de Trabajo"
  parent="taller_menu"
  sequence="20" />

  <menuitem
    id="ot_menu_d"
    name="Crear / Modificar"
    action="ot_action"
    parent="ot_menu"
    sequence="10" />

  <menuitem
    id="ot_menu_r"
    name="Resumen"
    action="res_action"
    parent="ot_menu"
    sequence="20" />










  <menuitem
    id="plan_menu"
    name="Planificacion"
    action="plan_action"
    parent="taller_menu"
    sequence="35" />

</odoo>
