
<odoo>

 <record id="ot_action_pv" model="ir.actions.act_window">
            <field name="name">Orden de Trabajo</field>
            <field name="res_model">taller.ot</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree,form</field>
            <field name="domain">[('sucursel','=','3')]</field>
             <field name="context">{'sucursel': '3'} </field>
</record>
<record id="ot_action_nu" model="ir.actions.act_window">
           <field name="name">Orden de Trabajo</field>
           <field name="res_model">taller.ot</field>
           <field name="type">ir.actions.act_window</field>
           <field name="view_mode">tree,form</field>
           <field name="domain">[('sucursel','=','2')]</field>
           <field name="context">{'sucursel': '2'} </field>
</record>

<record id="ot_action_op" model="ir.actions.act_window">
           <field name="name">Orden de Trabajo</field>
           <field name="res_model">taller.ot</field>
           <field name="type">ir.actions.act_window</field>
           <field name="view_mode">tree,form</field>
           <field name="domain">['|', ('sucursel', '=', '2'), ('sucursel', '=', '3')]</field>
</record>

 <act_window
  id="plan_action"
  name="Planificacion"
  res_model="taller.ot.line"
  view_mode="kanban"/>

<record id="res_action_nu" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">taller.ot.line</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
            <field name="domain">[('ot_line_id.sucursel','=','2')]</field>
            <field name="context">{'ot_line_id.sucursel': '2'} </field>

</record>

<record id="res_action_pv" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">taller.ot.line</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
            <field name="domain">[('branch_s','=','3')]</field>
            <field name="context">{'branch_s': '3'} </field>
</record>

<record id="res_action_op" model="ir.actions.act_window">
            <field name="name">Resumen</field>
            <field name="res_model">taller.ot.line</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
</record>

<record id="mani_action" model="ir.actions.act_window">
            <field name="name">Maniobras</field>
            <field name="res_model">taller.maniobras</field>
            <field name="type">ir.actions.act_window</field>
            <field name="domain">['|', ('user_branch', '=', '2'), ('user_branch', '=', '3')]</field>
            <field name="context">{'estado': 'pen'} </field>
            <field name="view_mode">tree</field>
</record>

<record id="mani_action_nu" model="ir.actions.act_window">
            <field name="name">Maniobras</field>
            <field name="res_model">taller.maniobras</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
            <field name="domain">[('user_branch','=','2')]</field>
            <field name="context">{'estado': 'pen'} </field>
</record>


<record id="mani_action_pv" model="ir.actions.act_window">
            <field name="name">Maniobras</field>
            <field name="res_model">taller.maniobras</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_mode">tree</field>
            <field name="domain">[('user_branch','=','3')]</field>
            <field name="context">{'estado': 'pen'} </field>
</record>

<menuitem
  id="taller_menu"
  name="Taller"
  parent=""
  sequence="15" />

<menuitem
  id="ot_menu"
  name="Orden de Trabajo"
  parent="taller_menu"
  sequence="20" />

  <menuitem
    id="ot_menu_d_parvial"
    name="Crear / Modificar"
    action="ot_action_pv"
    parent="ot_menu"
    sequence="10"
    groups="taller.group_parvial" />

  <menuitem
    id="ot_menu_d_nuble"
    name="Crear / Modificar"
    action="ot_action_nu"
    parent="ot_menu"
    sequence="11"
    groups="taller.group_nuble" />

    <menuitem
      id="ot_menu_d_opera"
      name="Crear / Modificar"
      action="ot_action_op"
      parent="ot_menu"
      sequence="12"
      groups="taller.group_operaciones" />

  <menuitem
    id="ot_menu_r_parvial"
    name="Resumen"
    action="res_action_pv"
    parent="ot_menu"
    sequence="20"
    groups="taller.group_parvial" />

  <menuitem
    id="ot_menu_r_nuble"
    name="Resumen"
    action="res_action_nu"
    parent="ot_menu"
    sequence="21"
    groups="taller.group_nuble" />

    <menuitem
      id="ot_menu_r_opera"
      name="Resumen"
      action="res_action_op"
      parent="ot_menu"
      sequence="22"
      groups="taller.group_operaciones" />


  <menuitem
    id="plan_menu"
    name="Planificacion"
    action="plan_action"
    parent="taller_menu"
    sequence="30" />


  <menuitem
    id="mani_menu"
    name="Maniobras"
    action="mani_action"
    parent="taller_menu"
    sequence="40"
    groups="taller.group_operaciones"
     />

  <menuitem
    id="mani_menu_nu"
    name="Maniobras"
    action="mani_action_nu"
    parent="taller_menu"
    sequence="41"
    groups="taller.group_nuble"/>

  <menuitem
    id="mani_menu_pv"
    name="Maniobras"
    action="mani_action_pv"
    parent="taller_menu"
    sequence="42"
    groups="taller.group_parvial"/>


</odoo>
